* {
  font-family: 'Baloo Paaji 2', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[list ='location'] {
  height: 40px;
  width: 200px;
  text-indent: 10px;
  border: 0px;
  border-bottom: 2px solid black;
  outline: none;
}

/* font size */

.rem1 {
  font-size: 1rem;
}
.rem15 {
  font-size: 1.5rem;
}
.rem2 {
  font-size: 2rem;
}

/* header */
header {
  height: 15vh;
}


/* Display  */
.screen {
  height: 3rem;
  width: 100%;
  clip-path: polygon(0% 0%, 5% 100%, 25% 100%, 25% 100%, 95% 100%, 100% 0%);
  border: 2px solid black;
  background-color: rgb(230, 230, 230);
}
.rowSeat img {
  margin:0px 4px;

}

.details {
  height: 100%;
}